/* Ajustes para que las imágenes de los proyectos se adapten bien en pantallas pequeñas */
.proyecto img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que las imágenes se mantengan con buena proporción */
    border-radius: 0.375rem; /* Borde redondeado para las imágenes */
}

/* Imágenes de los proyectos en pantallas más grandes */
@media (min-width: 640px) {
    .proyecto img {
        max-height: 250px; /* Controla la altura en dispositivos más grandes */
    }
}

@media (min-width: 1024px) {
    .proyecto img {
        max-height: 300px; /* Ajuste para pantallas más grandes */
    }
}
